*{
  box-sizing: border-box;
  font-family:Arial, Helvetica, sans-serif;
  color: #0c0341;
}

.react-app{
  width: 100vw;
  min-height: 100vh;
  max-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.resume-container{
  width: 750px;
  height: 100%;
  background-color: #fa87a4;
  padding: 20px;
}

.profile-container{
  display: flex;
  align-items: center;
}

.profile{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile div{
  border: 3px solid #0c0341;
  border-radius: 50%;
  font-size: 50px;
  margin: 5px 0px;
  padding: 5px;
  display: flex;
  align-items: center;
}

.profile-text{
  margin: 0px;
  padding: 0px;
  font-size: 15px;
  font-weight: 400;

}


.profile-discription-container{
  display: flex;
  align-items: center;
  margin: 0px 15px ;
  border-bottom: 3px solid #0c0341;
  height: 90px;
}

.name{
  margin: 0px;
  padding: 0px;
}

.designation{
  margin: 0px;
  padding: 0px;
}

.text{
  margin: 0px;
  padding: 0px;
  font-size: 14px;
}

.profile-name-container{
  border-right: 3px solid #0c0341;
  width: 200px;
  margin-left: 50px;;
}

.profile-address{
  padding: 10px;
  min-width: 200px;
  max-width: 350px;
}

.profile-address div{
  margin: 5px 0px;
}

.horizontal-line{
  border: 2px solid #0c0341;
  padding: 0px ;
  margin: 0px;
}

.unordered-list-container{
  list-style: none;
  border-bottom: 3px solid #0c0341;
  
}

.each-list{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0px 0px 0px;
  padding: 0px;
}

/* .each-list ::first-line{
  font-weight: bold;
} */

.work-description{
  font-size: 14px;
  padding: 0px;
  margin: 0px;
}

.border-right{
  border-right: 3px solid #0c0341;
}

.interests-container{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.logos-interests-container{
  background-color: #0c0341;
  border-radius: 50%;
  padding: 22px;
}

.logos{
  font-size: 60px;
  background-color: #fa87a4;
}

.each-logo{
  margin: 0px 0px 0px 20px;
}

.border-bottom{
  border-bottom: 3px solid #0c0341;
  display: flex;
  align-items: center;
  height: 300px;
}

.skill-score{
  margin: 0px 0px 0px 10px;
  font-size: 20px;
}

.achievements-container{

}